.calculadora {
    padding: 10px;
    background: rgb(166, 100, 197);
    width: 200px;
    border-radius: 20px;
}
.listaMensal {
    padding: 10px;
    background: rgb(167, 26, 223);
    width: 200px;
    border-radius: 20px;
}
.calculadora input {
    background: rgb(245, 189, 250);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    height: 25px;
}
.spResul {
    background: rgb(84, 8, 119);
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 15px;
    border-radius: 15px;
}

#btnCalc {
    width: 50px;
    padding: 5px;
    background: rgb(228, 124, 231);
    margin-top: 25px;
    border-radius: 15px;
}
#btnCalc:hover {
    background: rgb(173, 70, 168);
    color: white;
    cursor: pointer;
}
